/*
* @Author: niya
* @Date:   2017-07-20 18:40:19
* @Last Modified by:   niya
* @Last Modified time: 2017-07-21 15:22:28
*/
body{
    background: url('../../image/1_1.png') no-repeat;
    color: #0f0;
    font-size: 1.2rem;
}